# ============================================
# postgres
# ============================================
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# ============================================
# supabase
# ============================================
SUPABASE_JWK_SET_URI=